.App {
    text-align: center;
}

.App-header {
    background-color: #260040;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.block {
    width: 38px !important;
    height: 30px;
    background-color: #d3d700;
}

.transparent-block {
    width: 35px !important;
    height: 30px;
    background-color: transparent;
}

.angled-block {
    width: 40px !important;
    height: 30px;
    background-color: #d3d700;
    transform: skewX(30deg);
}

.angled-block-opposite {
    width: 40px !important;
    height: 30px;
    background-color: #d3d700;
    transform: skewX(-30deg);
}

.block-center {
    width: 40px !important;
    height: 30px;
    background-color: #d3d700;
    transform: skewX(29deg);
}

.block-center-opposite {
    width: 40px !important;
    height: 30px;
    background-color: #d3d700;
    transform: skewX(-31deg);
}

.block-small-center {
    width: 48px !important;
    height: 30px;
    background-color: #d3d700;
    transform: perspective(20px) rotateX(158deg);
    -webkit-transform: perspective(20px) rotateX(158deg);
}

.small-block-grid {
    width: 60px;
    height: 60px;
    background-color: #e5687e;
}

.background-cover {
    z-index: 1;
}